body {
  background: #000718;
  font-family: "Roboto", sans-serif;
}

.profile-container {
  margin: auto;
  margin-top: 35px;
  padding: 40px;
  border: 1px solid #ccc;
  position: relative;
  max-width: 700px;
  width: 100%;
  background: #ecf0f3;
  border-radius: 30px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.profile-container header {
  font-size: 2.5rem;
  color: #333;
  font-style: bold;
  font-weight: 600;
  text-align: center;
}

.profile-info {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #f44770;
}

.profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-details {
  margin-left: 20px;

}

.services-used {
  margin-bottom: 20px;
  width: 50%;
  display: block;
  float: left;
}

.service-list {
  list-style: none;
  padding: 0 15px ;
}

.service-list li {
  margin-bottom: 20px;
}

.service-charge{
  margin-bottom: 20px;
  width: 50%;
  float: right;
}
.service-charge p {
  margin-bottom: 5px;
  padding: 0 10px ;
}

.profile-actions {
  text-align: center;
}

.edit-profile,
.logout {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #f44770;
  color: #ffffff;
  text-decoration: none;
  border-radius: 30px;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;

}

.edit-profile:hover,
.logout:hover {
  background-color: #31279d;
}
